{% extends "base.html" %}

{% block title %} Lista Artykułów {% endblock %}

{% block body %}
    {% include 'toolbar.html' %}

    <div class="main-content">
        <h1>Lista Artykułów</h1>

        <table>
            <thead>
                <tr>
                    <th>Tytuł</th>
                    <th>Autor</th>
                    <th>Status</th>
                    <th>Szczegóły</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.title }}</td>
                        <td>{{ article.author.get_nick() }}</td>
                        <td>{{ article.status.stat.name }}</td>
                        <td><a href="{{ url_for('editor_articles.article_details', article_id=article.id) }}" class="details-btn">Zobacz</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}