{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/check_approval.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/shared.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="box">
        <h2>Potwierdzenie konta</h2>
        <p>Cześć, dziękujemy za założenie konta! Proszę potwierdzić swoje konto kodem wysłanym na Twój e-mail.</p>
        
        <hr>

        <form id="logout-form">
            <button type="button" id="logout-btn" class="primary-btn">Wyloguj</button>
        </form>
    </div>
</div>

<script>
    document.getElementById("logout-btn").addEventListener("click", function () {
        ajax_json_call('/user/logout').then(data => {
            if (data['success'])
                window.location.reload();
            else
                alert(`Err: ${data['message']}`);
        }).catch(err => alert(`Err: ${JSON.stringify(err)}`));
    });
</script>
{% endblock %}
