{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cr_user.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/shared.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <form id="account-form">
            <input type="hidden" name="email" value="{{email}}" required>
            <input id="code_input" type="hidden" name="code" value="{{code}}" required>
            <div class="form-group">
                <label>Nick:</label>
                <input type="text" name="nick" required>
            </div>

            <div class="form-group">
                <label>Hasło:</label>
                <input type="password" name="passwd" required>
            </div>

            <div class="form-group">
                <label>Powtórz hasło:</label>
                <input type="password" name="rep_passwd" required>
            </div>

            <button type="button" id="create-account-btn" class="primary-btn">Zarejestruj</button>
        </form>
    </div>

    <script>
        document.getElementById("create-account-btn").addEventListener("click", ()=>{
            let form=document.getElementById("account-form");
            let input=document.getElementById('code_input');
            ajax_json_call('/user/accept_inv', null, form).then(data => {
                if (data['success']) {
                    alert(`Poprawnie utworzono konto`);
                    window.location.href='/'
                } else {
                    alert(`Err: ${data['message']}`);
                    if(data['data']!==null)
                        input.value=data['data'];
                }
            }).catch(err => alert(`Err: ${JSON.stringify(err)}`));
        });
    </script>
{% endblock %}
