{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/logged.css') }}">
{% endblock %}

{% block body %}
    {% include 'toolbar.html' %}

    <div class="content">
        <h1>Cześć, udało Ci się zalogować!</h1>
        <p>Witaj w swoim panelu użytkownika. Poniżej znajdziesz informacje o dostępnych funkcjach:</p>

        <div class="guide">
            <h2>Jak poruszać się po stronie?</h2>
            <ul>
                <li>Na górze strony znajdziesz <strong>pasek narzędzi</strong>, w którym możesz zmienić język strony. (funkcja obecnie w fazie testów - nie działa)</li>
                <li>W sekcji <strong>User</strong> masz możliwość zmiany hasła lub wylogowania się.</li>
                <li>Po lewej stronie znajdziesz <strong>menu nawigacyjne</strong>, które pozwala przechodzić do różnych podstron.</li>
            </ul>
        </div>
    </div>
{% endblock %}
