{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pass_reset.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/shared.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="box">
        <h2>Zmiana hasła</h2>
        <p class="instructions">Wpisz nowe hasło i potwierdź je, aby zakończyć proces resetowania.</p>
        
        <form id="reset-password-form">
            <input type="hidden" name="email" value="{{email}}" required>
            <input id="code_input" type="hidden" name="code" value="{{code}}" required>

            <label>Nowe hasło:</label>
            <input type="password" name="passwd" placeholder="Wpisz nowe hasło" required>

            <label>Powtórz nowe hasło:</label>
            <input type="password" name="rep_passwd" placeholder="Powtórz nowe hasło" required>

            <button type="button" id="change-password-btn" class="primary-btn">Zmień hasło</button>
        </form>
        <hr>
        <a href="/"><button class="secondary-btn">Powrót do logowania</button></a>
    </div>
</div>

<script>
    document.getElementById("change-password-btn").addEventListener("click", function () {
        let form = document.getElementById("reset-password-form");
        let input = document.getElementById('code_input');
        
        ajax_json_call('/user/pass_reset', null, form).then(data => {
            if (data['success']) {
                alert(`Poprawnie zmieniono hasło`);
                window.location.href = '/';
            } else {
                alert(`Błąd: ${data['message']}`);
                if (data['data'] !== null)
                    input.value = data['data'];
            }
        }).catch(err => alert(`Błąd: ${JSON.stringify(err)}`));
    });
</script>
{% endblock %}
