{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pass_reset.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/shared.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="box">
        <h2>Resetowanie hasła</h2>
        <p class="instructions">
            Podaj swój adres e-mail, a wyślemy Ci link do zresetowania hasła.
        </p>
        <form id="reset-password-form">
            <label for="email">Adres e-mail:</label>
            <input type="email" name="email" id="email" placeholder="Wpisz swój e-mail" required>

            <button type="button" id="change-password-btn" class="primary-btn">Wyślij</button>
        </form>
        <hr>
        <a href="/"><button class="secondary-btn">Powrót do logowania</button></a>
    </div>
</div>

<script>
    document.getElementById("change-password-btn").addEventListener("click", function () {
        let form = document.getElementById("reset-password-form");
        ajax_json_call('/user/pass_reset', null, form).then(data => {
            if (data['success']) {
                alert(`Na podany email wysłano instrukcje resetowania hasła.`);
            } else {
                alert(`Błąd: ${data['message']}`);
            }
        }).catch(err => alert(`Błąd: ${JSON.stringify(err)}`));
    });
</script>
{% endblock %}
