{% extends "base.html" %}

{% block title %} W trakcie recenzji {% endblock %}

{% block body %}
    {% include 'toolbar.html' %}


    <div class="main-content">
        <h1>Lista artykułów w trakcie recenzji</h1>

        <table>
            <thead>
                <tr>
                    <th>Tytuł</th>
                    <th>Autor</th>
                    <th>Szczegóły</th>
                </tr>
            </thead>
            <tbody>
                {% for article, review_id in articles %}
                    <tr>
                        <td>{{ article.title }}</td>
                        <td>{{ article.author.get_nick() }}</td>
                        <td><a href="{{ url_for('review.article_details', article_id=article.id) }}" class="details-btn">View Details</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}