{% extends "base.html" %}

{% block title %} Szczegóły Artykułu {% endblock %}

{% block body %}
    {% include 'toolbar.html' %}

    <div class="main-content">
        <div class="top-bar">
            <a href="{{ url_for('review.list_reviewer_reviews') }}" class="back-btn">Wróć do listy</a>
        </div>

        <h1>{{ article.title }}</h1>
        <p class="article-info"><strong>Autor:</strong> {{ article.author.get_nick() }}</p>
        <p class="article-embed"><strong>Treść:</strong> {{ article_content|safe }}</p>

        <div class="action-buttons">
            <button class="accept-btn" onclick="acceptArticle()">Zaakceptuj</button>
            <button class="reject-btn" onclick="rejectArticle()">Odrzuć</button>
        </div>
    </div>

    <script>
        function acceptArticle() {
            fetch(`/reviews/{{ review_id }}/accept`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    return response.json().then(data => {
                        throw new Error(data.error || 'Unknown error occurred');
                    });
                }
            })
            .then(data => {
                alert(data['message']);
                window.location.reload();

            })
            .catch(error => {
                alert('Failed to update status: ' + error.message);
            });
        }
        function rejectArticle() {
            fetch(`/reviews/{{ review_id }}/reject`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    return response.json().then(data => {
                        throw new Error(data.error || 'Unknown error occurred');
                    });
                }
            })
            .then(data => {
                alert(data['message']);
                window.location.reload();

            })
            .catch(error => {
                alert('Failed to update status: ' + error.message);
            });
        }
    </script>

{% endblock %}
