{% extends "base.html" %}

{% block title %} Szczegóły Artykułu {% endblock %}

{% block body %}
    {% include 'toolbar.html' %}

    <div class="main-content">
        <div class="top-bar">
            <a href="{{ url_for('editor_articles.show_articles') }}" class="back-btn">Wróć do listy</a>
        </div>

        <h1>{{ article.title }}</h1>
        <p class="article-info"><strong>Autor:</strong> {{ article.author.get_nick() }}</p>
        <p class="article-info"><strong>Treść:</strong> {{ article_content|safe }}</p>
    </div>
{% endblock %}