<div class="main-content">
    
    <div class="above-table-text">Lista recenzentów przypisanych do artykułu:</div>

    <table>
        <thead>
            <tr>
                <th>Recenzent</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for review in reviews %}
                <tr>
                    <td>{{ review.reviewer.get_nick() }}</td>
                    <td>{{ review.status.stat.value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
