{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/needs_corrections.css') }}">
{% endblock %}

{% block title %} {{article.title}} {% endblock %}

{% block body %}
{% include 'toolbar.html' %}

<div class="main-content">
    <h1>Artykuł {{ article.title }} wymaga poprawek.</h1>
    <p><strong>Autor:</strong> {{ article.author.get_nick() }}</p>
    
    <div class="info-box">
        Oczekiwanie na przesłanie poprawionej wersji artykułu przez autora.
    </div>

    <div class="comments-box">
        <h3>Komentarze recenzenta na temat poprzedniej wersji artykułu:</h3>
        <ul>
            <li>Proszę poprawić formatowanie bibliografii zgodnie z wytycznymi.</li>
            <li>Rozdział 2 zawiera powtórzenia – sugeruję skrócenie.</li>
            <li>Wykres na stronie 5 jest nieczytelny – zalecam poprawienie opisu osi.</li>
        </ul>
    </div>
</div>

{% endblock %}