<div>
    <h2>Reviews Summary</h2>
    <ul>
        {% for nick, answers in grouped_answers.items() %}
            <li>
                <strong>Reviewer: {{ nick }}</strong>
                <ul>
                    {% for answer in answers %}
                        <li> <strong>{{ answer.question }}</strong><br>{{ answer.answer }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    <button id="needs_correction" onclick="setCorrectionStatus()">
        Needs Correction
    </button>
    <button id="reject" onclick="rejectArticle()">Reject</button>
    <button id="finish" onclick="finishArticle()">Finish</button>
</div>
<script>
    function setCorrectionStatus() {
        fetch(`/editor/articles/{{ article.id }}/request_correction`, { method: "POST" })
            .then(response => response.json())
            .then(data => {
                if (data['success']) {
                    location.reload();
                } else {
                    alert("Unable to update the article status.");
                }
            });
    }

    function rejectArticle() {
        fetch(`/editor/articles/{{ article.id }}/reject`, { method: "POST" })
            .then(response => response.json())
            .then(data => {
                if (data['success']) {
                    alert("Article has been rejected.");
                    location.reload();
                } else {
                    alert("Unable to reject the article.");
                }
            });
    }

    function finishArticle() {
        fetch('/editor/articles/{{article.id}}/finish', { method: "POST" })
            .then(response => response.json())
            .then(data => {
                if (data['success']) {
                    alert("Article successfully finished.");
                    location.reload();
                } else {
                    alert("Unable to finish the article.");
                }
            });
    }
</script>