{% extends "base.html" %}

{% block title %} {{ lang_pkg.QuestionGroupAdding.value }} {% endblock %}

{% block body %}
    {% include 'toolbar.html' %}

    <div class="container">
        <form id="question-add-form">
            <div class="form-group">
                <label>{{ lang_pkg.QuestionGroup.value }} ({{ lang_pkg.Name.value }})</label>
                <input type="text" name="name" required>
            </div>

            <div class="form-group">
                <label>{{ lang_pkg.QuestionList.value }}</label>
                <select name="question_input">
                    <option value="" selected>--{{ lang_pkg.Question.value }}--</option>
                    {% for q in questions %}
                        <option data-id="{{ q.id }}">{{ q.question }}</option>
                    {% endfor %}
                </select><button type="button" id="add-question-btn" class="secondary-btn">{{ lang_pkg.AddQuestion.value }}</button>
                <ul id="question-list">
                </ul>
            </div>

            <button type="button" id="add-question-group-btn" class="primary-btn">{{ lang_pkg.AddQuestionGroup.value }}</button>
        </form>
    </div>

    <style>
        .container {
            text-align: center;
            padding: 20px;
            max-width: 400px;
            margin: auto;
        }

        .actions {
            margin: 20px 0;
        }

        .primary-btn, .secondary-btn {
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        .primary-btn {
            background: #5a3d90;
            color: white;
        }

        .secondary-btn {
            background: #2d1053;
            color: white;
        }

        .primary-btn:hover, .secondary-btn:hover {
            opacity: 0.9;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
        }

        .form-group {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 10px;
        }

        label {
            font-weight: bold;
        }

        input {
            width: 80%;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            text-align: left;
        }

        .hidden {
            display: none;
        }
    </style>

    <script>
        (function(){
            let start;
            let form;
            
            start=()=>{
                form=document.getElementById('question-add-form');
                let ul=document.getElementById('question-list');
                let question_input=form['question_input'];
                let add_question_btn=document.getElementById('add-question-btn');
                let values_dict={};
                add_question_btn.addEventListener('click', ()=>{
                    let option=question_input.selectedOptions[0];
                    if(option.value=='') {
                        alert('{{ lang_pkg.QuestionIsEmpty.value }}');
                        return;
                    }
                    let option_id=option.dataset['id'];
                    if(option_id in values_dict) {
                        alert('{{ lang_pkg.QuestionDuplicate.value }}');
                        return;
                    }
                    values_dict[option_id]=true;
                    let li=document.createElement('li');
                    let inp=document.createElement('input');
                    inp.type='hidden'; inp.name='question'; inp.value=option_id;
                    let span=document.createElement('span');
                    span.innerText=option.value;
                    option.parentElement.removeChild(option)
                    li.appendChild(inp);
                    li.appendChild(span);
                    ul.appendChild(li);
                }, false);
                document.getElementById('add-question-group-btn').addEventListener('click', ()=>{
                    ajax_json_call('{{ url_with_lang_for("question.question_group_add") }}', null, form).then(data => {
                        if(data['success']) {
                            alert('{{ lang_pkg.CorrectQuestionGroupCreation.value }}');
                            window.location.href='{{ url_with_lang_for("question.show_question_groups") }}';
                        } else {
                            alert(`Err: ${data['message']}`);
                        }
                    }).catch(err => alert(`Err: ${JSON.stringify(err)}`));
                }, false);
            };

            start();
        })()
    </script>
{% endblock %}
