{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/author_rejected.css') }}">
{% endblock %}

{% block title %} {{article.title}} {% endblock %}

{% block body %}
{% include 'toolbar.html' %}

<div class="main-content">
    <a href="{{ url_for('articles.show_articles') }}" class="back-button">Powrót do listy</a>
    <h1 class="status-header">Artykuł "{{article.title}}" został odrzucony.</h1>
    
    <div class="meta-info">
        <p><strong>Data decyzji:</strong> 28.04.2025</p>
    </div>

    <div class="comments-box">
        <h3>Uzasadnienie decyzji:</h3>
        <div class="comments-content">
            Artykuł zawierał szereg nieścisłości merytorycznych oraz brakowało mu wyraźnie określonej metodologii badawczej. 
            Szczególnie rozdział dotyczący porównań systemów edukacyjnych nie był poparty żadnymi źródłami. 
            Rekomendujemy ponowne opracowanie treści z uwzględnieniem konkretnych danych i przypisów.
            ---
            Dane ponownie są hardcoded, zgodnie z rozmową z ostatniego spotkania. 
        </div>
    </div>
</div>

{% endblock %}
