body {
    margin: 0;
    padding: 0;
}

.instructions {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #2d1053;
    text-align: left;
}