button {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}

.primary-btn {
    background: #5a3d90;
    color: white;
    font-weight: 600;
    transition: 0.3s;
}

.primary-btn:hover {
    background: #4a1e87;
}

.secondary-btn {
    background: #2d1053;
    color: white;
    font-weight: 600;
    transition: 0.3s;
}

.secondary-btn:hover {
    background: #1f083c;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

input {
    width: 90%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin: 10px 0;
}

.box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}