{% extends "base.html" %}

{% block body %}
    <h1>Cześć, zalogowałeś się</h1>
    <form method="GET">
        <button type="button">Wyloguj</button>
    </form>
    <script>
        (function() {
            let form;
            let setup;

            setup=()=>{
                form=document.querySelector('body>h1+form');
                let btn=form.querySelector('button');
                btn.addEventListener('click', ()=>{
                    ajax_json_call('/user/logout').then(data=>{
                        if('error' in data)
                            if(data['error'])
                                alert(`Err: ${data['message']}`);
                            else
                                reload_page();
                        else
                            alert(`Err: ${JSON.stringify(data)}`);
                    }, err=>{
                        alert(`Err: ${JSON.stringify(err)}`);
                    });
                }, false);
            };

            setup();
        })();
    </script><br><br><br>
    <form method="GET">
        Stare hasło: <input type="password" name="passwd"><br>
        Nowe hasło: <input type="password" name="new_passwd"><br>
        Powtórz nowe hasło: <input type="password" name="rep_passwd"><br>
        <br>
        <button type="button">Zmień hasło</button>
    </form>
    <script>
        (function() {
            let form;
            let setup;

            setup=()=>{
                form=document.querySelector('body>br+form');
                let btn=form.querySelector('button');
                btn.addEventListener('click', ()=>{
                    ajax_json_call('/user/ch_pass', null, form).then(data=>{
                        if('error' in data)
                            if(data['error'])
                                alert(`Err: ${data['message']}`);
                            else
                                alert(`Poprawnie zmieniono hasło`);
                        else
                            alert(`Err: ${JSON.stringify(data)}`);
                    }, err=>{
                        alert(`Err: ${JSON.stringify(err)}`);
                    });
                }, false);
            };

            setup();
        })();
    </script>
{% endblock %}
